<div [formGroup]="singleVendorForm">
  <kendo-textbox #name formControlName="name" id="name"></kendo-textbox>
  <kendo-dropdownlist
    [data]="vendorTypeList"
    ngDefaultControl
    #vendorType
    formControlName="vendorType"
    id="vendorType"
  >
  </kendo-dropdownlist>
</div>
